.card {
  position: relative;
}

.content {
  position: absolute;
  display: none;
  transition: 0.2s ease;
  border: 1px solid black;
  padding: 4px;
  padding-bottom: 6px;
  text-align: center;
  top: 22px;
  background-color: white;
  z-index: 10;
  width: 80px;
}

.card:hover .content {
  display: block;
}
